<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>{{ name }}</title>
    <style>
        body {
            background-image: url("https://i.imgur.com/A6bzMTw.jpg");
            text-align: center;
            background-position: center;
            background-size: cover;
            position: relative;
            top: 0;
            bottom: 0;
            height: 100vh;
        }
        h3 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
            color: lightcoral;
            text-shadow: 1px 2px white;
        }
        img {
            width: 600;
            height: 620;
        }
        article {
            font-family: Arial, Helvetica, sans-serif;
        }
        li {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>My hobby is to {{hobby}}</article>
    <article>Aku {{deskripsiku}}</article>
    <img src="https://i.imgur.com/3niKvAkl.jpg" alt="foto puspa">
    <h2>profil teman kanan dan kiriku</h2>
    <ol>
        <li><h1>{{namkanan}}</h1></li>
        <article>NPM: {{npmkanan}}</article>
        <article>Umurnya {{umurkanan}}</article>
        <article>Hobinya {{hobikanan}}</article>
        <article>Dia {{deskripsikanan}}</article>
        <img src="https://scontent-sin6-2.xx.fbcdn.net/v/t1.0-9/29028031_1228015937330953_2639126544328425472_n.jpg?_nc_cat=0&oh=f38ec21b788e2226c2e48ff7f72a7426&oe=5BF11766" alt="foto salsa">

        <li><h1>{{namakiri}}</h1></li>
        <article>NPM: {{npmkiri}}</article>
        <article>Umurnya {{umurkiri}}</article>
        <article>Hobinya {{hobikiri}}</article>
        <article>Dia {{deskripsikiri}}</article>
        <img src="https://i.imgur.com/KGa1AV6.jpg" alt="foto tembok">
    </ol>
    <h2>ini ada link22 website mantap di bwh</h2>
    <ul>
        <li><a href="http://www.twiter.com">twiter</a></li>
        <li><a href="http://www.facebook.com">fesbuk</a></li>
        <li><a href="http://www.instagram.com">instagram</a></li>
    </ul>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> coba22
