{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->
{% block content %}
    <div class="container">
        <!-- Content here -->
         <!--namaku-->
        <div class="siapaaku">
                <h2 class="namaku"><i>Puspacinantya</i></h2>
                <h6><i>A student of Computer Science</i></h6>
                <button type="button" class="btn btn-dangery" style="color:#A10115"><strong><a href="/trialstory4/education" class="btn btn-default">Education, skills & experiences</a></strong></button>
            </div>

            <div class="contact">
                <h4 class="pagename">Contact Me</h4>
                <div class="links">
                    <p><a class="listoflink" href="mailto: puspacinantya@gmail.com">Email</a></p>
                    <p><a class="listoflink" href="twitter.com/puspacinantya">Twitter</a></p>
                    <p><a class="listoflink" href="facebook.com/mia.puspacinantya">Facebook</a></p>
                    <p><a class="listoflink" href="instagram.com/puspacinantya">Instagram</a></p>
                        
                </div>
            </div>
    </div>
    {% endblock content %}