{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->
{% block content %}
    <div class="container">
        <!-- Content here -->
    <!--namaku-->
    <div class="siapaaku">
            <h2 class="namaku"><i>Puspacinantya</i></h2>
            <h6><i>A student of Computer Science</i></h6>
            <button type="button" class="btn btn-dangery" style="color:#A10115"><strong><a href="/trialstory4/homepage" class="btn btn-default">Back to homepage</a></strong></button>
        </div>

        <div class="mywritings">
            <h4 class="pagename">Education, skills & Experiences</h4>
                <div class="container">
                        <div class="row align-items-start">
                                <div class="col">
                                    <div class="kampus">
                                        <img class= "logo" src="https://upload.wikimedia.org/wikipedia/id/thumb/e/e9/UI_Logo.svg/1024px-UI_Logo.svg.png" alt="">
                                        <div class="container">
                                                <!-- Content here -->
                                                <p>Information System</p>
                                                <p>Faculty of Computer Science</p>
                                                <p>University of Indonesia</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                  <div class="container">
                                        <ol>
                                            <li>Excel in leadership, public speaking, communication, and has a strong work ethic</li>
                                            <li>Able to do basic programming in Python and Java</li>
                                            <li>Good in using Microsoft Office</li>
                                        </ol>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="container">
                                      <ol>
                                          <li>Head of Enterpreneurial Division of DPM Fasilkom UI 2018</li>
                                          <li>Staff of Press COMPFEST X</li>
                                          <li>Data Entry coordinator of AFS selection 2018</li>
                                      </ol>
                                  </div>
                        </div>
                </div>
            </div>
    </div>
    {% endblock content %}