{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->
{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col">
                <!--gambarku-->
                <img class="img-thumbnail" src="https://i.imgur.com/3niKvAk.jpg" alt="picture of Puspa">
                </div>
                <div class="col">
                <!--namaku-->
                <div class="siapaaku">
                        <h2 class="namaku"><i>Puspacinantya</i></h2>
                        <h6><i>A student of Computer Science</i></h6>      
                </div>
                    <!--brief desc-->
                    <div class="container">
                            <p >I am Puspa, an aspiring UI student that currently pursue my major in information system. I have been extensively involved in my university community and i would love to develop my career in a bigger scale.</p>
                            <button type="button" class="btn btn-dangery" style="color:#A10115"><strong><a href="/trialstory4/education" class="btn btn-default">Education, skills & experiences</a></strong></button>
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="company">
                        <h6>Companies I've Worked With</h6>
                        <div class= "container">
                            <div class= "box">
                                <img src="https://i.imgur.com/5ALeYHu.jpg" class="rounded float-left" alt="laptop 1">
                            </div>
                            <div class= "box">
                                    <img src="https://i.imgur.com/mVZmjsm.jpg" class="rounded mx-auto d-block" alt="laptop 2" >  
                            </div>
                            <div class= "box">
                                    <img src="https://i.imgur.com/dUxXpBh.jpg" class="rounded float-right" alt="laptop 3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
{% endblock content %}