{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->
{% block content %}
    <div class="container">
        <!-- Content here -->
    <!--namaku-->
    <div class="siapaaku">
            <h2 class="namaku"><i>Puspacinantya</i></h2>
            <h6><i>A student of Computer Science</i></h6>
            <button type="button" class="btn btn-dangery" style="color:#A10115"><strong><a href="/trialstory4/education" class="btn btn-default">Education, skills & experiences</a></strong></button>
    </div>
    
    <div class="mywritings">
        <h4 class="pagename">My Writings</h4>
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="conwri">
                        <h4>Women in Tech: Find Your Inspiration</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="conwri">
                        <h4>New to Programming?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="conwri">
                        <h4>How was My First Programming Experience?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="conwri">
                        <h4>What is Product Manager?</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
    </div>
{% endblock content %}