{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->
{% block content %} 
<div class="container">
<!-- Content here -->
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <!--namaku-->
            <div class="siapaaku">
                <h2 class="namaku"><i>Puspacinantya</i></h2>
                <h6><i>A student of Computer Science</i></h6>
                <button type="button" class="btn btn-dangery" style="color:#A10115"><a href="/trialstory4/education" class="btn btn-default">Education, skills & experiences</a></button>
            </div>
        </div>
    </div><div class="mypro">
            <h4 class="pagename">My Projects</h4>
            <div class="container">
                <div class="box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://i.imgur.com/9dxJQfE.jpg/100px200/" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Project with Tarung</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://i.imgur.com/gh7Yh6J.jpg/100px200/" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">CS UI</h5>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://i.imgur.com/QMIdGnq.jpg/100px200/" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Fasilkom</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
       
       
{% block content %}