{% extends 'navbar.html' %}
{% load static %} <!-- load files from static folder-->
{% block content %}
    <div class="container">
        <!-- Content here -->
        <!--namaku-->
        <div class="siapaaku">
                <h2 class="namaku"><i>Puspacinantya</i></h2>
                <h6><i>A student of Computer Science</i></h6>
                <button type="button" class="btn btn-dangery" style="color:#A10115"><strong><a href="/trialstory4/education" class="btn btn-default">Education, skills & experiences</a></strong></button>
            </div>

            <div class="testi">
                    <h4 class="pagename">Testimonials</h4>
                    <div class= "container">
                        <div class= "box">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://i.imgur.com/GnZvwh2.jpg/100px180/" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title">PT.XYZ</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                            </div>
                        </div>
                        <div class= "box">
                                <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="https://i.imgur.com/Z9SqPCw.jpg/100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">PT.ABC</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                                </div>
                        </div>
                        <div class= "box">
                            <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="https://i.imgur.com/Wx30XJZ.jpg/100px180/" alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title">PT.YAYAYA</h5>
                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                    </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        {% endblock content %}